body{
    font-family: 'Roboto', sans-serif;;
}

#error_login {
    width: width: 100%;
    ;
    background: #F6CECE;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border: 1px solid #d9534f;
    border-radius: 4px;
    display: none;
}

.fa-ban {
    color: #d9534f;
    margin-right: 5px;
}

.carousel-caption {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.27);
}

.carousel-caption>h1 {
    font-size: 50px;
}
