@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto/roboto-regular.ttf);
}

body{
    font-family: 'Roboto', sans-serif !important;
}

.fa{
    margin-right:5px;
}

.option_with_icon {
    margin-bottom: 50px;
}

.grey-circle {
    height: 140px;
    width: 140px;
    background: #eaeaea none repeat scroll 0 0;
    padding-top: 35px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}