.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top:0px !important;   
    font-size: 20px;
}

.bold{
    font-weight: 600;
}

#countdown{
     text-align: center;
}

#time{
    font-size: 20px;
    font-weight: 600;
}

#question{
    margin-bottom:25px;    
}

.radio{
    margin-left:35px;
    font-size:18px;
}
   