.miCont {
    background-color: azure;
    align-content: center;
    width: 400px;
    height: 700px;
    margin: 40px;
    overflow: hidden;
}

.formTitle {
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 5px;
}

h1 {
    color: #5cb85c;
}

.formBody {
    padding: 20px;
}