<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>Registro de usuario</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/registro_usuario.css">    
   
</head>

<body ng-controller="formulario_registro">

    <div class="container" action="#" onsubmit="return crear_cuenta(this)">

        <form class="form-signin">
            <h2 class="form-signin-heading">Crear una cuenta</h2>
            
            <div id="error_registro">
                <i class="fa fa-ban" aria-hidden="true"></i><span id="mensaje_error"></span>
            </div>

            <label for="nombre" class="sr-only"></label>
            <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Nombre" inputmode="latin-name" minlength="2" ng-model="registro.nombre" required autofocus>

            <label for="apellido_1" class="sr-only"></label>
            <input type="text" id="apellido_1" class="form-control" name="apellido_1" placeholder="Primer apellido" inputmode="latin-name" minlength="2" ng-model="registro.apellido_1" required>

            <label for="apellido_2" class="sr-only"></label>
            <input type="text" id="apellido_2" class="form-control" name="apellido_2" placeholder="Segundo apellido" inputmode="latin-name" minlength="2" ng-model="registro.apellido_2">

            <label for="fecha_nacimiento" class="sr-only"></label>
            <input placeholder="Fecha de nacimiento" type="text" onfocus="(this.type='date')" min="1900-01-01" max="2016-12-31" id="fecha_nacimiento" class="form-control" name="fecha_nacimiento" ng-model="registro.fecha_nacimiento" required>

            <label for="nif" class="sr-only"></label>
            <input type="text" id="nif" class="form-control" name="nif" placeholder="NIF" minlength="9" maxlength="9" ng-model="registro.nif" required>          

            <label for="login" class="sr-only"></label>
            <input type="email" id="login" class="form-control" name="login" placeholder="Correo electrónico" ng-model="registro.login" required>
                                
            <label for="password" class="sr-only"></label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Contraseña" ng-model="registro.password" minlength="4" maxlength="16" required>
                        
            <button type="submit" id="crear_cuenta" class="btn btn-lg btn-primary btn-block" ng-model="registro.button">Enviar datos</button>
            <a href="../index.html" class="btn btn-lg btn-primary btn-block" role="button">Volver</a>
        </form>        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="../js/registro_usuario.js"></script>

</body>

</html>